@use "@styling/_variables" as v;
@import "@styling/fonts.scss";

.textarea {
  font-family: "Montserrat", sans-serif;
  border: 0;
  width: 80vw;
  resize: none;
  background: none;
  color: v.$orange;
  font-size: 32px;
  margin: 50px 0 0 0;
  overflow: hidden;
}

.textarea:focus {
  outline: none;
}

.expected-text-container {
  width: 100%;
  background: v.$gray;
  color: v.$orange;
  position: absolute;
  top: 25%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 15px;
  font-size: 1.1rem;
}
.error {
  color: red;
}

.speed-check {
  font-size: 1.5rem;
  position: absolute;
  top: 35%;
  left: 10%;
}
